<!DOCTYPE html>
<html>
	<head>
		<title>Siil - eID authentication provider</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<br><br>
				<h1>Adding site was successful!</h1>
				<p>
					Go <a href="/">home</a> or <a href="/addsite">add another site</a>.
				</p>
			</div>
		</div>
	</body>
</html>