<!DOCTYPE html>
<html>
	<head>
		<title>Siil - Editing was successful</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<br><br>
				<h1>Editing was successful!</h1>
				<ul>
					<li>
						<a href="/sites">View my sites</a>
					</li>
					<li>
						<a href="/">Go home</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>