<!DOCTYPE html>
<html>
	<head>
		<title>Siil - eID OAuth provider</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="eight columns">
					<h1>My sites</h1>
				</div>
				<div class="four columns">
					<a class="button button-primary" href="/addsite">Add site</a>
				</div>
			</div>
			<div class="row">
				<table>
					<thead>
						<tr>
							<td>Client ID</td>
							<td>Private Key</td>
							<td>Name</td>
							<td>Domain</td>
							<td>Callback URL</td>
							<td>Cancel URL</td>
							<td></td>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>blabla</td>
							<td>joujou</td>
							<td>TereTere</td>
							<td>dustland.ee</td>
							<td>https pläma</td>
							<td>siia ka/td>
							<td>
								<a class="button button-primary" href="/sites">Edit</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>