<!DOCTYPE html>
<html>
	<head>
		<title>Sucessful sign in</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
	</head>
	<body>
		<div class="container" style="text-align:center;border-right: 1px solid #ccc;border-left: 1px solid #ccc;">
			<form action="{{callback}}" method="post">
				<input type="hidden" name="token" value="{{token}}">
				<button id="click_me" type="submit" class="button">Click here to continue...</button>
			</form>
		</div>
	</body>
	<script type="text/javascript">
		window.onload = function() {
			document.getElementById("click_me").click();
		};
	</script>
</html>